@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

div:focus{
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main{
  min-height: 100%;
  height: calc(100% - 50px);
}

.app-container {
  padding: 20px;
}

.page-build{
  height:100%
}

.components{
  // width: 100%;
  height: 100%;
  border: 1px solid #aaaaaa;
}

.preiview{
  height:100%;
  border: 1px solid #aaaaaa;
}

.preview-panel{
  width: 100%;
  height: 50px;
  border: 1px solid #aaaaaa;
}

.preview-main{
  width: 100%;
  height: calc(100% - 50px);
  border: 1px solid #aaaaaa;
}

.preview-drop{
  width: 100%;
  height: 100%;
}

// 以下为测试使用
// .row{
//   height: 100%;
// }
// .col{
//   border: 1px solid red;
//   height: 100%;
// }
